{% extends 'base.html' %}
{% load static %}
{% block header_class %}class="header--main-page"{% endblock %}
{% block header %}
<div class="slogan container container--90">
    <div class="slogan--item">
        <h1>
            Zacznij pomagać!<br/>
            Oddaj niechciane rzeczy w zaufane ręce
        </h1>
    </div>
</div>
{% endblock %}
{% block content %}
<section class="stats" id="stats">
    <div class="container container--85">
        <div class="stats--item">
            <em>{{ no_of_donated_bags }}</em>
            <h3>Oddanych worków</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum
                tempora!</p>
        </div>

        <div class="stats--item">
            <em>{{ no_of_supported_organizations }}</em>
            <h3>Wspartych organizacji</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas
                quam.</p>
        </div>

    </div>
</section>


<section class="steps" id="steps">
    <h2>Wystarczą 4 proste kroki</h2>

    <div class="steps--container">
        <div class="steps--item">
            <span class="icon icon--hands"></span>
            <h3>Wybierz rzeczy</h3>
            <p>ubrania, zabawki, sprzęt i inne</p>
        </div>
        <div class="steps--item">
            <span class="icon icon--arrow"></span>
            <h3>Spakuj je</h3>
            <p>skorzystaj z worków na śmieci</p>
        </div>
        <div class="steps--item">
            <span class="icon icon--glasses"></span>
            <h3>Zdecyduj komu chcesz pomóc</h3>
            <p>wybierz zaufane miejsce</p>
        </div>
        <div class="steps--item">
            <span class="icon icon--courier"></span>
            <h3>Zamów kuriera</h3>
            <p>kurier przyjedzie w dogodnym terminie</p>
        </div>
    </div>

    <a class="btn btn--large" href="{% url 'register' %}">Załóż konto</a>
</section>

<section class="about-us" id="about-us">
    <div class="about-us--text">
        <h2>O nas</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vitae animi rem pariatur incidunt libero
            optio esse quisquam illo omnis.</p>
        <img alt="Signature" class="about-us--text-signature" src="{% static 'images/signature.svg' %}"/>
    </div>
    <div class="about-us--image"><img alt="People in circle" src="{% static 'images/about-us.jpg' %}"/></div>
</section>

<section class="help" id="help">
    <h2>Komu pomagamy?</h2>

    <ul class="help--buttons">
        <li data-id="1"><a class="btn btn--without-border {% if active_slide == 1 %} active {% endif %}" href="#">Fundacjom</a></li>
        <li data-id="2"><a class="btn btn--without-border {% if active_slide == 2 %} active {% endif %}" href="#">Organizacjom pozarządowym</a></li>
        <li data-id="3"><a class="btn btn--without-border {% if active_slide == 3 %} active {% endif %}" href="#">Lokalnym zbiórkom</a></li>
    </ul>


    <!-- SLIDE 1 -->
    <div class="help--slides {% if active_slide == 1 %} active {% endif %}" data-id="1">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy. Możesz sprawdzić czym się
            zajmują, komu pomagają i czego potrzebują.</p>

        <ul class="help--slides-items">
            {% for item in list_of_foundations %}
            <li>
                <div class="col">
                    <div class="title">{{ item.name }}</div>
                    <div class="subtitle">{{ item.description }}</div>
                </div>

                <div class="col">
                    <div class="text">{% for category in item.categories.all %}{{ category }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
                </div>
            </li>
            {% endfor %}
        </ul>

        <ul class="help--slides-pagination">
            {% if list_of_foundations.has_previous %}
            <li>
                <a class="btn btn--small btn--without-border" href="?foundations_page={{ list_of_foundations.previous_page_number }}#help"><< poprzednia</a>
            </li>
            {% endif %}
            {% for page_no in list_of_foundations.paginator.page_range %}
            {% if list_of_foundations.number == page_no %}
            <li>
                <a class="btn btn btn--small btn--without-border active">{{ page_no }}</a>
            </li>
            {% elif page_no > list_of_foundations.number|add:'-3' and page_no < list_of_foundations.number|add:'3' %}
            <li>
                <a class="btn btn--small btn--without-border" href="?foundations_page={{ page_no }}#help">{{ page_no }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if list_of_foundations.has_next %}
            <li>
                <a class="btn btn--small btn--without-border" href="?foundations_page={{ list_of_foundations.next_page_number }}#help">następna >></a>
            </li>
            {% endif %}

        </ul>

    </div>


    <!-- SLIDE 2 -->
    <div class="help--slides {% if active_slide == 2 %} active {% endif %}" data-id="2">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic officiis mollitia dolor, neque aspernatur
            accusamus debitis. Ducimus, officia. Quia, sunt illum! Non iste placeat ab ipsum alias
            quos suscipit corporis!
        </p>
        <ul class="help--slides-items">
            {% for item in list_of_ngos %}
            <li>
                <div class="col">
                    <div class="title">{{ item.name }}</div>
                    <div class="subtitle">{{ item.description }}</div>
                </div>

                <div class="col">
                    <div class="text">{% for category in item.categories.all %}{{ category }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <ul class="help--slides-pagination">
            {% if list_of_ngos.has_previous %}
            <li>
                <a class="btn btn--small btn--without-border" href="?ngos_page={{ list_of_ngos.previous_page_number }}#help"><< poprzednia</a>
            </li>
            {% endif %}
            {% for page_no in list_of_ngos.paginator.page_range %}
            {% if list_of_ngos.number == page_no %}
            <li>
                <a class="btn btn--small btn--without-border active">{{ page_no }}</a>
            </li>
            {% elif page_no > list_of_ngos.number|add:'-3' and page_no < list_of_ngos.number|add:'3' %}
            <li>
                <a class="btn btn--small btn--without-border" href="?ngos_page={{ page_no }}#help" data-page="{{ page_no }}">{{ page_no }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if list_of_ngos.has_next %}
            <li>
                <a class="btn btn--small btn--without-border" href="?ngos_page={{ list_of_ngos.next_page_number }}#help">następna >></a>
            </li>
            {% endif %}
        </ul>
        <!-- Pagination
        <ul class="help--slides-pagination">
          <li><a href="#" class="btn btn--small btn--without-border active" data-page="1">1</a></li>
          <li><a href="#" class="btn btn--small btn--without-border" data-page="2">2</a></li>
          <li><a href="#" class="btn btn--small btn--without-border" data-page="3">3</a></li>
          <li><a href="#" class="btn btn--small btn--without-border" data-page="4">4</a></li>
          <li><a href="#" class="btn btn--small btn--without-border" data-page="5">5</a></li>
        </ul>
        -->
    </div>

    <!-- SLIDE 3 -->
    <div class="help--slides {% if active_slide == 3 %} active {% endif %}" data-id="3">
        <p>Lorem ipsum dolor sit amet, his ocurreret persequeris ea, ad utinam laudem duo. Verterem adipisci partiendo
            eos ne, ea his reque quaeque recteque, ne quo lobortis intellegam.</p>
        <ul class="help--slides-items">
            {% for item in list_of_local_collections %}
            <li>
                <div class="col">
                    <div class="title">{{ item.name }}</div>
                    <div class="subtitle">{{ item.description }}</div>
                </div>

                <div class="col">
                    <div class="text">{% for category in item.categories.all %}{{ category }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <ul class="help--slides-pagination">
            {% if list_of_local_collections.has_previous %}
            <li>
                <a class="btn btn--small btn--without-border" href="?local_collections_page={{ list_of_local_collections.previous_page_number }}#help"><< poprzednia</a>
            </li>
            {% endif %}
            {% for page_no in list_of_local_collections.paginator.page_range %}
                {% if list_of_local_collections.number == page_no %}
                <li>
                    <a class="btn btn--small btn--without-border active">{{ page_no }}</a>
                </li>
                {% elif page_no > list_of_local_collections.number|add:'-3' and page_no < list_of_local_collections.number|add:'3' %}
                <li>
                    <a class="btn btn--small btn--without-border" href="?local_collections_page={{ page_no }}#help" data-page="{{ page_no }}">{{ page_no }}</a>
                </li>
                {% endif %}
            {% endfor %}
            {% if list_of_local_collections.has_next %}
            <li>
                <a class="btn btn--small btn--without-border" href="?local_collections_page={{ list_of_local_collections.next_page_number }}#help">następna >></a>
            </li>
            {% endif %}
        </ul>
        <!-- Pagination
        <ul class="help--slides-pagination">
          <li><a href="#" class="btn btn--small btn--without-border active" data-page="1">1</a></li>
          <li><a href="#" class="btn btn--small btn--without-border" data-page="2">2</a></li>
        </ul>
        -->
    </div>
</section>
{% endblock %}
